<html>
    <head>
  
      <meta charset="UTF-8">
      <title>Menu Paciente</title>
      <link rel="stylesheet" href="/styles/style.css">
    </head>
  
    <body>
      <h1>Le damos la bienvenida a nuestro sistema</h1>
      <h4>Por favor ingrese sus datos</h4>
      <form class="cf" action="/Paciente/actualizar" method="post">
        <input type="number" name='cedulaPa' placeholder='cedula' id="input-name" value=<%=Paciente.cedulaPa%> >
        <input type="text" name="nombre" placeholder='nombre' id="input-name-name" value=<%=Paciente.nombre%>>
        <input type="text" name="sexo" placeholder="sexo (M o F)" id="input-name" value=<%=Paciente.sexo%>>
        <input type="date" name="fechaNacimiento" placeholder="" id="input-name" value=<%=Fecha%>>
        <input type="text" name="tipoSangre" placeholder="tipo de sangre" value=<%=Paciente.tipoSangre%>>
        <input type="submit" value="Modificar" id="input-submit">
        
      </form>
      <form class="cf" action="/">
        <input type="submit" value="Cancelar" id="cancelar">
      </form>
    </body>
  
</html>
  